<div style="max-width: 600px;">
  <h2>Código de Confirmação</h2>
  <img referrerpolicy="no-referrer" src="https://res.cloudinary.com/drt6ezein/image/upload/v1692024362/hospeda/hospeda_banner_v9iswo.png" alt="Banner Hospeda Eventos" style="max-width: 100%; height: auto; display: block; margin-top: 20px;">
  <p>Prezado(a) %NAME%,</p>
  <p>Seja muito bem-vindo(a) à plataforma Hospeda Eventos! Estamos empolgados em tê-lo(a) como parte da nossa comunidade.</p>
  <p>Agradecemos sinceramente por escolher a Hospeda Eventos como sua plataforma de hospedagem para eventos.</p> 
  <p>Sabemos o quão importante é ter um sistema confiável e eficiente para garantir o sucesso de sua hospedagem em eventos, e estamos aqui para ajudar em cada passo do caminho.</p> 
  <p>Aproveite ao máximo a nossa plataforma, conheça as incríveis hospedagens e comece a participar de eventos incríveis hoje mesmo!</p>
  <p style="display: block; font-weight: 700; margin-block: 5px; font-size: 20px;">Aqui está seu código de confirmação:</p>
  <span style="display: flex; display: -webkit-flex; display: -ms-flexbox; flex-wrap: wrap; flex-direction: row; align-items: center; column-gap: 0.25rem; width: fit-content; margin-block: auto; pointer-events: none; user-select: none;">
    %CODE%
  </span>
  <p>Atenciosamente, <br />
  Equipe Hospeda Eventos</p>
</div>