<div style="max-width: 600px;">
  <h2>Redefinição de senha</h2>
  <img referrerpolicy="no-referrer" src="https://res.cloudinary.com/drt6ezein/image/upload/v1692024362/hospeda/hospeda_banner_v9iswo.png" alt="Banner Hospeda Eventos" style="max-width: 100%; height: auto; display: block; margin-top: 20px;">
  <p>Prezado(a) %NAME%,</p>
  <p>Recebemos uma solicitação para redefinir a senha associada à sua conta.</p>
  <p>Para garantir a segurança da sua conta, esse link é válido por 10 minutos e por gentiliza não o compartilhe.</p>
  <p style="display: block; font-weight: 600; margin-block: 5px; font-size: 18px;">Aqui está o link para redefinir sua senha:</p>
  <a href="%ORIGIN%/reset-password?redirectToken=%REDIRECTTOKEN%">%ORIGIN%/reset-password?redirectToken=%REDIRECTTOKEN%</a>
  <p>Atenção: Se você não solicitou essa redefinição de senha, por favor, ignore-o. Nenhuma ação será tomada na sua conta.</p>
  <p>Atenciosamente, <br />
  Equipe Hospeda Eventos</p>
</div>